[submodule "lib/GenericI2C"]
	path = lib/GenericI2C
	url = git@github.com:mateuszbugaj/GenericI2C.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "test/googletest"]
	path = test/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/GenericSPI"]
	path = lib/GenericSPI
	url = git@github.com:mateuszbugaj/GenericSPI.git
